<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="/opt/local/bin/openocd"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="-f /opt/local/share/openocd/scripts/board/EA2478.cfg -f /opt/local/share/openocd/scripts/interface/olimex-arm-usb-tiny-h.cfg"/>
</launchConfiguration>
